<configuration>
<system.webServer>
      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
          <rule name="DynamicContent">
            <match url="/*" />
            <action type="Rewrite" url="server.js"/>
          </rule>
          <rule name="DynamicContent">
            <match url="/api" />
            <action type="Rewrite" url="/api"/>
          </rule>
        </rules>
      </rewrite>
</system.webServer>
</configuration>
